.env
.env.local
.env.production
.idea/

config.local.json
# === ЛОГИ И ЖУРНАЛЫ ===
# Исключить абсолютно все файлы с расширением .log
*.log

# Исключить логи в корне проекта и любых подпапках
**/*.log

# Конкретные папки логов (зависит от фреймворка)
logs/
log/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
